@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

html {
    font-size: 14px;
    font-family: 'Alkatra', cursive;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}